@model Employee

<tr>
	<td scope="row">
		@Model.PayrollNumber
	</td>
	<td>
		@Model.Forenames
	</td>
	<td>
		@Model.Surname
	</td>
	<td>
		@Model.DateOfBirth.ToString("MM/dd/yyyy")
	</td>
	<td>
		@Model.Telephone
	</td>
	<td>
		@Model.Mobile
	</td>
	<td>
		@Model.Address
	</td>
	<td>
		@Model.Address2
	</td>
	<td>
		@Model.Postcode
	</td>
	<td>
		@Model.EmailHome
	</td>
	<td>
		@Model.StartDate.ToString("MM/dd/yyyy")
	</td>
	<td>
		<button
			type="button"
			class="btn btn-primary">
			Edit
		</button>
	</td>
</tr>
